benchmark.txt
requirements.txt
pandoo-*
dist
pandoo.egg-info
__pycache__
drmaa*
head*
results/
*.pyc
isolates*
.ruffus_history.sqlite 
screenlog*
test*
flowchart*
out*
notes*
CARD_*
t.*
py3*
input*
README
